/* 
    Colors: #3498db (Soft Blue)
    Colors: #2ecc71 (Soft Green)
    Colors: #ecf0f1 (Light Gray) 
    */


.root{
    -fx-font-family: "Cambria Math";
}

/* Left panel settings */
#leftPanel{
    -fx-background-color: #3498db;
}
#leftPanel Label{
    -fx-alignment: center;
    -fx-font-size: 30px;
    -fx-font-weight: BOLD;
}



/* right panel settings */
#rightPanel{
    -fx-background-color: #ecf0f1;
}
#rightPanel Label{
    -fx-font-size:14;
}
#warningLabel{
    -fx-font-size: 16;
    -fx-alignment: center;
    -fx-text-fill: red;
}


#loginBtn{
    -fx-background-color: #3498db;
    -fx-text-fill: white;
}
#loginBtn:hover{
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-text-fill: black;
}

.operationBtns{
    -fx-background-color: #3498db;
    -fx-background-radius: 20;
    -fx-min-width: 25;
    -fx-min-height: 10;
}
.operationBtns:hover{
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.operationIcons {
    -fx-text-alignment: center;
    -fx-font-family: "FontAwesome";
    -fx-fill: #ecf0f1;
}

.textFieldPanel {
    -fx-background-color: transparent;
    -fx-border-color: #3498db;
    -fx-border-width: 0px 0px 1.5px 0px
}