.table-view{
    -fx-background-color: #3498db;
    -fx-background-radius: 14 14 0 0;
}
.table-view .column-header-background{
    -fx-background-color: #3498db;
    -fx-background-radius: 14;
    -fx-background-insets: 0 0 10 0;
}
.table-view .column-header, .table-view .filler{
    -fx-size: 50px;
    -fx-border-width: 0 0 10 0;
    -fx-background-color: transparent;
}
.table-view .column-header .label{
    -fx-text-fill:white;
}




/* functionalities */
.operationBtn:hover{
    -fx-fill: red;
    -fx-cursor: hand;
}

Button{
    -fx-background-color: #3498db;
    -fx-background-radius: 10;
    -fx-cursor: hand;
}
Button:hover{
    -fx-background-color: red;
}

#watchTable{
    -fx-cursor: hand;
}

#makeInvoiceBtn{
    -fx-background-color: #3498db;
    -fx-font-size: 20;
    -fx-font-weight: 700;
    -fx-background-radius: 10;
    -fx-cursor: hand;
}
#makeInvoiceBtn:hover{
    -fx-text-fill: red;
}