.root{
    -fx-font-family: "Arial";
}
#headerLabel{
    -fx-alignment: center;
    -fx-font-size: 20;

}
VBox{
    -fx-font-size: 18;
    -fx-font-weight: 600;
}

#warningText{
    -fx-font-size: 24;
}
#footerBtns Button{
    -fx-background-color: #3498db;
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-background-radius: 25;
}
#addWatchBtn{
    -fx-background-color: rgb(255, 74, 74);
}