#leftPanel{
    -fx-font-family: "Arial";
    -fx-font-size: 20;
    -fx-font-weight: 700;
}

Label{
    -fx-alignment: center;
}

PasswordField{
    -fx-background-color: transparent;
    -fx-border-color: #3498db;
    -fx-border-width: 0px 0px 1.5px 0px;
    -fx-border-radius: 5;
}
Button{
    -fx-background-color: #3498db;;
    -fx-background-radius: 25;
}
Button:hover{
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}